.Card {
    background-color: #a53a3a;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.600);

    min-width: 300px;
    max-width: 300px;

    display:flex;
    flex-direction: column;
}

.Card .Title {
    padding: 5px 0px;
    color: #000000;
    
    display: flex;
    justify-content: center;
}

.Card .Content {
    flex-grow:1;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
}